* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #1f1f38;
    Mian. citanieiobbatton! 3
Sere Se re Ua Stator

vee SC Cre egy

Seve SUL Ser eC aa SL CL Cs eo
Scorecard

--color-light: Mirgba(255, 255, 255, @.6);

 

}