.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========= */

@media screen and (max-width: 1024px) {
    .about__container {
      grid-template-columns: 1fr;
      gap: 0;
    }
    .about__me {
      width: 50%;
      margin: 2rem auto 4rem;
    }
    .about__content  p {
      margin: 1rem 0 1.5rem;
    }
  }
  
  /* ========== MEDIA QUERIES (SMALL DEVICES) ========= */
  
  @media screen and (max-width: 600px) {
    .about__me {
      width: 65%;
      margin: 0 auto 3rem;
    }
    .about__cards{
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
    .about__content {
      text-align: center;
    }
    .about__content p {
      margin: 1.5rem 0;
    }
  }
